.active{
    color: black;
    background-color: rgb(216, 210, 210);
    font-size: larger;
    font-family: monospace;
}
a{ 
color:deepskyblue;
margin-right: 2.5em;
direction: rtl;

}


mat-toolbar {
   /* background: #51fcfc; */
   background:deepskyblue;
    color: rgba(0, 0, 0, 0.87);
}
#addOrder{
    margin-left:4%;
}
#routing{
    margin-left:4%;
}
#deliverymenList{
    margin-left:220%
}