<mat-toolbar id="toobar" color="#14eb1b">
    <section>
        <div class="example-button-row">
             <button mat-flat-button id="deliverymenList"><a routerLink='deliverymenList' routerLinkActive="active1" > רשימת
                    משלוחנים</a></button>
            <button mat-flat-button id="routing"><a routerLink='routing' routerLinkActive="active1"> הפעלת מסלול</a></button>
            <button mat-flat-button id="addOrder"><a routerLink='addOrder' routerLinkActive="active1"> הוספת הזמנה</a></button>
        </div>
    </section>
</mat-toolbar>
