
table {
    width: 100%;
    margin-top: 2%;
  }
  /* .activebutton{
    margin-right: 8px;
    z-index: 4%;
  }*/
  .button{
      margin-left: 1%;
     
  } 
  button{
    background-color:deepskyblue;
    color: white;
    font-size: 150%;
  }
  .buttons{
    display: flex;
    flex-direction: row;
  margin-top: 1%;
  }