<div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</div>
<form [formGroup]="insertOrder" (ngSubmit)="addOrder()">

  <mat-form-field appearance="fill">
    <mat-label>first name</mat-label>
    <input matInput formControlName="firstName">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>last name</mat-label>
    <input matInput formControlName="lastName">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>phone</mat-label>
    <input matInput formControlName="phone">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>email</mat-label>
    <input matInput placeholder="pat@example.com" formControlName="email" required>
    <mat-error *ngIf="insertOrder.get('email').invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <br>





  <mat-form-field>
    <mat-label>Address </mat-label>
    <input matInput matGoogleMapsAutocomplete formControlName="address"
      (onAutocompleteSelected)="onAutocompleteSelected($event)" (onLocationSelected)="onLocationSelected($event)">
  </mat-form-field>



  <br>



  <!--  <br>
     <mat-form-field appearance="fill">
        <mat-label>address</mat-label>
       <app-add-address></app-add-address>
      </mat-form-field>  -->
  <!-- <input type="submit" value="הרשם" /> -->
  <!-- </mat-form-field>  -->
  <input type="submit" value="save">
</form>