
#easyWay{
    font-size:7vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    margin-left: 45%; 
    color: deepskyblue;
}
/* .image{
    background-image:url("C:\Users\אילת\Desktop\אקטיב קוד\easyWay-client\images\7.PNG"); 
    height: 80%;
    width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left:50%;
z-index:-1 ;
background-position: top center;
position: absolute;
} */

.image{
  background-image: url("../assets/images/7.PNG");
  /* background-repeat: no-repeat;
  width:100%; */
  padding-top: 10px;
  display:flex;
  align-items:center;
  justify-content: center;
  height: 95%;
  width: 50%;
  top:2%;
  left:50%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
/* margin-left:50%; */
z-index:-1 ;
background-position: top center;
position: absolute;
}
/* 
.image {
  width: 40%;
  
} */

.wrap-app{
  display:flex;
  flex-direction: column;
}

.body{
  display:flex;
  position: relative;
}

.wrap-outer-outlet{
  width:50%;
 
}