#wellcome{
    font-size:7vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top:1%;
    margin-left: 35%;
}
#easyWay{
    font-size:7vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    margin-left: 35%; 
}